.section4{
    height: 100vh;
    width: 100vw;
    
}


.small-contain{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 90vh;
    
}
.side1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-sec3{
    text-align: start !important;
    color: rgb(202, 169, 128);

}
.title-img {
        position: relative;

}
.title-img::after{
    content: '';
    width: 100px;
    height: 3px;
    bottom: -20px;
    left: 30%;
    background-color:gray;
    position: absolute;
}
.side2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .small-contain{
    display: flex;

} */
.button-inter{
    color: rgb(247, 244, 239);
    border: solid rgb(226, 206, 171);
    background-color: transparent;
    padding: 10px;
    letter-spacing: 5px;
    width: 170px;
}


